
body{
    background-color:beige;
}

a {
    background-color: lightblue;
    color: #000;
    text-decoration: none;
    padding: 10px;
    margin: 5px;
    text-align: center;
}
nav{
    display:flex;
}

#primary{
    background-color: gr;
}

.background{
    background-color: rgba(0, 0, 255, 0.24);
}