@import url('https://fonts.googleapis.com/css2?family=Antonio&family=Lato&family=Roboto:wght@500&display=swap');

body{
    font-family: Roboto, Verdana, sans serif;
    /* padding: 0;
    margin: 0;
    background-color: lightblue; */
}

body{
    background-color:rgb(255, 255, 255);
    font-size: 16px
}

* {
    border: 1px solid red;
}
a {
    background-color: lightblue;
    color: #000;
    text-decoration: none;
    padding: 10px;
    margin: 5px;
    text-align: center;
}
a:hover{
    background-color:darkgray;
    color: white;
}
nav{
    display:flex;
    justify-content: center;
}
h1{
    font-size: 3em;
    text-align: center;
    margin: 5px;
    padding: 10px;
}
img {
    width: 60%;
    text-align: center;
    display: block;
    margin: 60px auto;
    padding: 40px;
    border: 3px solid lightblue;
    box-sizing: border-box;
}
p {
    /* text-align: center; */
    width: 60%;
    margin: 10px auto;
}

#primary{
    background-color: gr;
}

footer p {
    width: 100%;
    text-align: center;
    background-color: lightblue;
    color: rgb(75, 75, 75);
}

/* .background{
    background-color: rgba(0, 0, 255, 0.24);
} */